.stats-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    text-align: center;
    margin-top: 15px;
}

.stat-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.stat-value {
    font-size: 20px;
    font-weight: 900;
    color: #41cfff;
    /* Твой неоновый голубой */
    text-shadow: 0 0 10px rgba(65, 207, 255, 0.3);
}

.stat-label {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    opacity: 0.6;
    font-weight: bold;
}

.stats-box h3 {
    font-size: 14px;
    margin: 0;
    opacity: 0.8;
}