#scrollProgress {
    position: fixed !important;
    left: 0;
    bottom: 0;
    width: 0%; 
    height: 5px; /* Чуть толще, чтобы увидеть */
    background: #41cfff; /* Яркий голубой */
    
    /* ИСПРАВЛЕНО: Тень должна СВЕТИТЬСЯ голубым, а не быть черной */
    box-shadow: 0px 0px 15px #41cfff, 0px 0px 5px #ffffff;
    
    /* ИСПРАВЛЕНО: Поднимаем на самый верхний слой */
    z-index: 999999 !important; 
    
    transition: width 0.1s linear;
    display: block !important;
}
